/*
--Colors
*/

/*
--Main
*/
$body-background-color: #ffffff;
$main-text-color: #000000;
$brand-color: #000000;


/*
--Selection
*/
$selection-background-color: #000000;
$selection-text-color: #ffffff;


/*
--Button
*/
$button-background-color: #757575;
$button-text-color: #ffffff;
$button-outline-color: #212121;


/*
--Nav-bar
*/
$nav-bar-background-color: #FAFAFA;
$nav-bar-links-color: #000000;
$nav-bar-icons-color: #212121;
$highlight-link-background-color: #212121;
$highlight-link-text-color: #ffffff;


/*
--Agency - Work
*/
$agency-work-background-color: #ffffff;
$work-heading-color: #000000;
$work-tag-color: #757575;
$work-tag-background-color: #EEEEEE;
$work-text-color: #757575;
//colors
$color1: rgba(#E0E0E0, .8);
$color2: rgba(#E0E0E0, .8);
$color3: rgba(#E0E0E0, .8);
$color4: rgba(#E0E0E0, .8);


/*
--Services
*/
$services-text-color: #212121;
//colors
$services-heading1-color: #000000;
$services-heading2-color: #000000;
$services-heading3-color: #000000;
$services-heading4-color: #000000;


/*
--Contact
*/
$contact-input-color: #212121;
$contact-input-container-border-color: #212121;


/*
--Footer
*/
$contact-background-color: $nav-bar-background-color;
$contact-icons-color: #ffffff;